<h1>Cargos</h1>
<div ng-show="estadoVista == $root.EstadoVistaEnum.Edicion || estadoVista == $root.EstadoVistaEnum.Agregado">
    <h5 ng-show="estadoVista == $root.EstadoVistaEnum.Agregado">Nuevo</h5>
    <h5 ng-show="estadoVista == $root.EstadoVistaEnum.Edicion ">Editar</h5>
    <form novalidate name="frmEntity">
        <input type="hidden" ng-model="Cargo.Id">
        <label for="Nombre">Cargo</label>
        <input type="text" name="Nombre" ng-model="Cargo.Nombre" required maxlength="200">
        <input type="button" value="Cancelar" ng-click="cancel()">
        <input type="button" value="Guardar" ng-disabled="frmEntity.$invalid" ng-click="save(Cargo)">
    </form>
</div>
<div ng-show="estadoVista == $root.EstadoVistaEnum.Listado">
    <a ng-click="add()">Nuevo</a>
    <form novalidate name="frmFiltro">
        <table>
            <thead>
                <tr>
                    <th hidden="hidden">ID</th>
                    <th>Cargo</th>
                    <th></th>
                </tr>
                <tr>
                    <td hidden="hidden"></td>
                    <td><input type="text" name="Nombre" ng-model="CargoFilter.Nombre" /></td>
                    <td colspan="2">
                        <button ng-click="filter(CargoFilter)">Filtrar</button>
                        <button ng-click="reset()">Mostrar Todos</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cargo in AllCargos">
                    <td hidden="hidden">{{ cargo.Id }}</td>
                    <td>{{ cargo.Nombre }}</td>
                    <td>
                        <a ng-click="edit(AllCargos[$index])">Editar</a>
                        <a ng-click="delete($index)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>